<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Ventas - Gestión de Datos</title>
  <link rel="stylesheet" href="/resources/css/RegistroTablas.css" />
  <link rel="icon" href="resources/images/fevicon.png" type="image/png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <!-- Encabezado -->
  <div class="header-container">
    <div class="breadcrumb">
      <a href="/vista_ventas" class="reporte-link">
        <h1 style="color: #858B92; font-weight: bold; margin-right: 5px;">Registro de Ventas</h1>
      </a>
      <h2 style="font-size: 40px; margin: 0 10px;">›</h2>
      <h1 style="font-weight: bold;">Detalles de venta</h1>
    </div>
  </div>


  
  <div class="card3">
    <div class="header-card1">
        <span>Datos de la venta:</span>
    </div>
    <br>

    <div class="content-card-registro">
        <table  class="table-registro" >
            <tbody>
                <tr>
                    <th>ID de Venta</th>
                    <td><%= venta.ID_Venta %></td>
                </tr>
                <tr>
                    <th>Fecha de Venta</th>
                    <td><%= venta.Fecha_Venta.toISOString().substring(0, 10) %></td>
                </tr>
                <tr>
                    <th>Total de Venta</th>
                    <td><%= venta.Total_Venta %></td>
                </tr>
                <tr>
                        <th>ID Cliente</th>
                    <td><%= venta.ID_Cliente %></td>
                </tr>
                <tr>
                    <th>Nombre Cliente</th>
                    <td><%= venta.NombreCliente %></td>
                </tr>
                <tr>
                    <th>Nombre Empleado</th>
                    <td><%= venta.NombreEmpleado %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card3">
    <div class="header-card1">
        <span>Datos de la venta:</span>
    </div>
    <br>
    <div class="content-card-registro">
        <table  class="table-registro" >

            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <% venta.detalles.forEach(function(detalle) { %>
                <tr>
                    <td><%= detalle.NombreProducto %></td>
                    <td><%= detalle.Cantidad %></td>
                    <td><%= detalle.Precio_Unitario %></td>
                    <td><%= detalle.Cantidad * detalle.Precio_Unitario %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<!-- Tus scripts de JavaScript -->
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
<!-- Bootstrap 5 y otros scripts -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
        integrity="sha384-4Uo+GdgN+wM/+a82O3yFTnITUSa8iOYz9SMp9qzrqtEwlQ8lTxHdhW9IXv9fEak"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
        integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
        crossorigin="anonymous"></script>
</body>
</html>
