<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/resources/css/sistema_clientes/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
        <!-- Main Content -->
        <div class="main-content" id="main-content">
           
            <!-- Comienzo de contenido -->
           
            <div class="table-container">
                <h3>Mis pedidos</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Sucursal</th>
                            <th>Dirección</th>
                            <th>Delivery</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (pedidos.length > 0) { %>
                            <% pedidos.forEach(pedido => { %>
                                <tr>
                                    <td><%= pedido.Cliente %></td>
                                    <td><%= pedido.Sucursal %></td>
                                    <td><%= pedido.Direccion %></td>
                                    <td><%= pedido.Empleado %></td>
                                    <td>$<%= pedido.Total_Venta.toFixed(2) %></td>
                                    <td><%= new Date(pedido.Fecha_Venta).toLocaleDateString('es-ES') %></td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6" style="text-align: center;">No se encontraron pedidos</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <!-- fin de contenido -->
        </div>

</body>
</html>
