<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Perfil</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f9f9f9;
      margin: 0;
    }
    .profile-container {
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 400px;
      text-align: center;
      position: relative;
    }
    .profile-image {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border: 3px solid #e6e6e6;
      border-radius: 50%;
      background-color: #fff;
    }
    .profile-image img {
      width: 100%;
      border-radius: 50%;
    }
    .profile-form {
      margin-top: 60px;
    }
    .form-group {
      margin-bottom: 15px;
      display: flex;
      gap: 10px;
    }
    .form-group input {
      flex: 1;
      padding: 10px;
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      width: calc(50% - 5px);
    }
    .profile-form input {
      width: 100%;
    }
    button {
      background-color: #00b4d8;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
    }
    button:hover {
      background-color: #0096c7;
    }
  </style>
</head>
<body>
    <div class="profile-container">
      <div class="profile-image">
        <img src="avatar.png" alt="Avatar">
      </div>
      <form action="/pagina_pedidos/perfil" method="POST" class="profile-form">
        <div class="form-group">
            <input type="text" name="name" placeholder="Nombres" value="<%= user.name %>" />
            <input type="email" name="email" placeholder="Correo electrónico" value="<%= user.email %>" />
        </div>
        <div class="form-group">
          <input type="text" name="address" placeholder="Dirección" value="<%= user.address %>" />
        </div>
        <div class="form-group">
          <input type="text" name="ciNit" placeholder="CI/NIT" value="<%= user.ciNit %>" />
          <input type="text" name="phoneNumber" placeholder="Celular" value="<%= user.phoneNumber %>" />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Correo" value="<%= user.email %>" />
        </div>
        <button type="submit">Guardar cambios</button>
      </form>
    </div>
  </body>
</html>
